
<table class="table table-striped text-center">
    <thead>
    <tr>
        <% for (let field of model.fields) { %><th>
            <%=field.name%>
        </th> <% } %>
        <th>
            Actions
        </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let <%= camelize(name) %> of <%= camelize(name) %>s">
        <% for (let field of model.fields) { %><td id="<%=field.name%>">{{<%= camelize(name) %>.<%=field.name%>}}
        </td>
        <% } %>
        <td>
            <button id="entityEditBtn"
                    (click)="editEntity(<%= camelize(name) %>.id)">
                Edit
            </button>
            <button id="entityDeleteBtn"
                    (click)="deleteEntity(<%= camelize(name) %>.id)">
                Remove
            </button>
        </td>
    </tr>
    </tbody>
</table>
